.Profile {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  position: relative;
  padding-bottom: 10vh;
}

.profileBg {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(5px);
  position: fixed;
  z-index: -15;
}
.profileBg .ProfileVid {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -15;
}

.profileBg .logo {
  width: 330px;
  height: 100vh;
}

.profileBg .logo {
  position: relative;
}

.profileBg .logo > img {
  color: white;
  width: 330px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  z-index: -5;
}

.buyP {
  font-family: "Jura";
  color: white;
  font-weight: bold;
  text-align: center;
}

.Profile .content {
  width: 100%;
  min-height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  padding-top: 25vh;
}

.profileScreen {
  width: 100%;
  margin: 0 auto;
}

.profileScreen .box {
  width: 70%;
  margin: 0 auto;
  /*
  display: grid;
  grid-template-columns: 3fr 3fr; 
  */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 5vh;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.089);
  padding: 30px;
}

.profileScreen .box .left {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.profileScreen .box .left .profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 5vh;
}

.profileScreen .box .left .profile .prow h2 {
  font-family: "Jura";
  font-size: 1rem;
  font-weight: 800;
  color: rgb(85, 85, 85);
  text-transform: uppercase;
}
.profileScreen .box .left .profile .prow p {
  font-size: 1rem;
  font-family: "Akira";
  color: rgb(180, 180, 180);
}

/* .profileScreen .box .left .events h1, */
.profileScreen .box .left h1,
.profileScreen .box .right h1 {
  font-size: 2rem;
  font-family: "Akira";
  color: white;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: rgb(255, 238, 141);
}

.profileScreen .box .left .events p {
  /* text-align: center; */
  padding: 30px;
  padding-left: 0;
  padding-bottom: 30px;
  font-family: "Jura";
  font-weight: 800;
  color: white;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  font-size: 1.4rem;
}
.pb {
  font-size: 1rem;
  font-family: "Akira";
  width: 100%;
  width: 300px;
  overflow: hidden;
  padding: 10px 30px;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;

  background-image: linear-gradient(
    100deg,
    rgb(250, 158, 255) 0%,
    rgb(138, 216, 255) 51%,
    rgb(249, 139, 255) 100%
  );
  background-size: 200% auto;
  transition: 0.5s;
  position: relative;
  z-index: 1;
}
.pb::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 150%;
  height: 100%;
  background: linear-gradient(
    30deg,
    rgba(239, 0, 255, 0) 40%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(0, 168, 255, 0) 60%
  );
  transition: 600ms ease-in-out;
}

.pb:hover::before {
  left: -150%;
}

.pb:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
}

.profileScreen .box .right {
  /* display: flex; */
  /* flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10vh;
  place-items: start;
}

.profileScreen .box .right .rsec {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
}

.profileScreen .box .right .code {
  background-color: white;
  color: black;
  font-family: "Jura";
  width: max-content;
  padding: 10px 30px;
  font-size: 1.4rem;
  border-radius: 20px;
  font-weight: 800;
  margin: 0 auto;
}

.profileScreen .box .right .qr {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  border-radius: 0;
}
.profileScreen .box .right .qr img {
  width: 100%;
  /* border-radius: 20px; */
}

.downloadQR {
  position: absolute;
  left: calc(100% + 20px);
  bottom: 0px;
  padding: 10px 20px;
  background-color: white;
  outline: none;
  border: 2px solid white;
  /* border-radius: 10px; */
  font-family: "Akira";
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .profileScreen .box {
    width: 80%;
  }
}

@media screen and (max-width: 1200px) {
  .profileScreen .box {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .profileScreen .box {
    width: 80%;
  }
  .profileScreen .box .left {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .profileScreen .box .right {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    gap: 10vh;
    place-items: center;
  }
  .Profile .content {
    padding-top: 7vh;
  }
}

@media screen and (max-width: 600px) {
  .profileScreen .box .left h1,
  .profileScreen .box .right h1 {
    font-size: 1.2rem;
    text-align: center;
  }
  .profileScreen .box {
    width: 100%;
  }
  .Profile {
    padding: 0;
  }
  /* .profileScreen .box .right h2 {
    font-size: 1.6rem;
    font-family: "Akira";
    color: white;
    text-align: center;
  } */
  .profileScreen .box .right .code {
    background-color: white;
    color: black;
    padding: 8px 20px;
    font-size: 1.2rem;
  }
  .pb {
    width: 100%;
  }

  .profileScreen .box .left .profile .prow h2 {
    font-family: "Jura";
    font-size: 0.6rem;
    font-weight: 800;
    color: gray;
    text-transform: uppercase;
    padding-bottom: 2px;
  }
  .profileScreen .box .left .profile .prow p {
    font-size: 0.8rem;
    font-family: "Akira";
  }
}
