h1 {
  width: 100%;
  height: 5vh;
  background-color: var(--primary);
  color: aliceblue;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.controlBox {
  width: calc(100% - 42px);
  border: 1px solid gray;
  margin: 20px auto;
}

.controlBox > h2 {
  width: 100%;
  background-color: var(--primary);
  color: aliceblue;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  padding: 5px 20px;
}

td,
th {
  padding: 0 10px;
}

.CBContent {
  width: 100%;
  padding: 20px;
}

th {
  text-align: left;
  padding-bottom: 5px;
}

input {
  font-size: 1rem;
}

button {
  padding: 5px 10px;
  background-color: var(--primary);
  color: aliceblue;
  outline: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: rgb(106, 106, 197);
}

.eventName {
  width: 200px;
  margin: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
}

.warning {
  padding-left: 20px;
  color: rgb(255, 0, 0);
  animation: warning 300ms infinite ease-in alternate-reverse;
}

@keyframes warning {
  0% {
    color: white;
  }
  100% {
    color: red;
  }
}

.tcounts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
  padding-bottom: 30px;
  flex-wrap: wrap;
}

.tcounts .trow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tcounts .trow p:nth-child(2) {
  font-weight: bold;
  font-size: 1.2rem;
}

.gtButtons {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
  padding-top: 20px;
  flex-wrap: wrap;
}
