footer {
  width: 100%;
  height: 30vh;
  background-color: rgb(31, 31, 31);
  color: white;
  font-family: "Akira";
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* .Schedule {
  width: 100%;
  height: 100vh;

} */
